.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    font-family: "Open Sans";
    font-size: 4em;
    font-weight: 400;
    color: #f0f0f0;
    text-transform: uppercase;
    background-color: #0c0c0c;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: Quicksand, monospace;
    font-weight: 400;
    font-size: 1.3em;
    color: #b4b4b4;
    margin-bottom: 0.5rem;
}

.word-input {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    width: 20rem;
    padding: 0.75rem;
    font-family: Roboto, monospace;
    font-weight: 400;
    color: #f0f0f0;
    background-color: #101010;
    border: 1px solid #4b4b4b;
    border-radius: 8px;

    &:focus {
        outline: none;
        border-color: #ff7c30;
        transition: border-color 50ms ease-in;
    }
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    font-family: Roboto, monospace;
    font-weight: 400;
    color: #f0f0f0;
    font-size: 1.125em;
    background-color: #6d00d5;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: #2271b1;
        transition: background-color 0.3s ease-in-out;
    }
}
